/*
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where out normal styles apply
1800px          Big desktop###

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
:root {
  --color-primary--light: #7ed56f;
  --color-primary: #55c57a;
  --color-primary--dark: #28b485;
  --color-secondary-light: #ffb900;
  --color-secondary-dark: #ff7730;
  --color-tertiary-light: #2998ff;
  --color-tertiary-dark: #5643fa;
  --color-grey--light-1: #f7f7f7;
  --color-grey--light-2: #eee;
  --color-grey: #777;
  --color-white: #fff;
  --color-black: #000;
  --font-size-default: 1.6rem;
  --shadow-default: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  --linear-gradient-default: linear-gradient(to right bottom, #7ed56f, #28b485);
  --gap-medium: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 70%;
  margin: 0 auto;
}

@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
  80% {
    transform: translateY(-1rem);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  font-size: 62.5%;
}
@media (min-width: 120em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 30%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* ANIMATION */
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  /* ANIMATION */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  margin-bottom: 6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.gradient-text {
  background-image: linear-gradient(to right, var(--color-primary--light), var(--color-primary--dark));
  display: inline-block;
  background-clip: text;
  color: transparent;
}

.scewed-text {
  transition: all 0.2s;
}
.scewed-text:hover {
  transform: skew(15deg, 2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.199);
}

.heading-tertiary {
  font-size: var(--font-size-default);
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--font-size-default);
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-gap-medium {
  gap: 5rem !important;
}

.u-gap-large {
  gap: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-column-direction {
  flex-direction: column !important;
}

.section-about {
  padding: 30rem 0;
  background-color: var(--color-grey--light-1);
  margin: -20vh 0;
}

.section-features {
  padding: 30rem 0;
  background-color: var(--color-grey--light-1);
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.795), rgba(126, 213, 111, 0.801)), url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.section-tours {
  padding: 30rem 0 15rem;
  margin: -20vh 0 0;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.438);
}

.section-book {
  padding: 15rem 0;
  background-image: var(--linear-gradient-default);
}

.book {
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50.1%), url("/img/nat-10.jpg");
  background-size: cover;
  width: 100%;
  box-shadow: var(--shadow-default);
  border-radius: 3px;
  padding: 8rem 5rem;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(40, 180, 133, 0.795), rgba(126, 213, 111, 0.801)), url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}
.header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.082);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.header-bg {
  position: absolute;
  width: 100%;
  height: 95vh;
  background-color: var(--color-grey--light-1);
}

.footer-container {
  display: flex;
}
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
}
.footer__logo {
  width: 15rem;
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 3rem;
  flex-grow: 1;
}
.footer__list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
.footer__link {
  background-color: #333;
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 100ms;
}
.footer__link:hover {
  cursor: pointer;
  color: #55c57a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.2);
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 3rem;
  flex-grow: 1;
}

.navigation__checkbox {
  display: none;
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(65);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  transform: translateX(0%);
  pointer-events: all;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked ~ .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(-135deg);
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 100;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 90;
  transition: transform 800ms cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-30%);
  transition: all 800ms cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.navigation__link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50.1%, white 100%);
  background-size: 225%;
  transition: all 400ms, color 200ms;
}
.navigation__link:hover {
  background-position: 100%;
  color: #55c57a;
}
.navigation__link:hover .navigation__text {
  transform: translateX(5px);
}
.navigation__text {
  display: inline-block;
  transition: inherit;
  margin-left: 2rem;
}
.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  display: inline-block;
  width: 3rem;
  height: 2.2px;
  background-color: #333;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  transition: all 100ms;
}
.navigation__icon::before {
  top: 0.8rem;
}
.navigation__icon::after {
  bottom: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: 1rem;
}
.navigation__button:hover .navigation__icon::after {
  bottom: 1rem;
}

.about-container {
  display: flex;
  gap: 1rem;
}
.about-container > div {
  flex: 1;
}

.btn {
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 1000px;
  transition: all 200ms;
  border: none;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 7px 1rem 0.5px rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: white;
  color: #777;
}
.btn--green {
  background-color: var(--color-primary);
  color: white;
}
.btn--animated {
  position: relative;
}
.btn--animated:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  background-color: inherit;
  z-index: -1;
  transition: all 300ms;
}
.btn--animated:hover::after {
  transform: scaleX(1.6) scaleY(1.4);
  opacity: 0;
}

.btn-text {
  color: var(--color-primary);
  display: inline-block;
  padding: 3px;
  border-bottom: 1ps solid var(--color-primary);
  font-size: inherit;
  font-size: var(--font-size-default);
  transition: all 300ms;
}
.btn-text:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-underlined {
  border-bottom: 1.5px solid;
  z-index: 5;
}

.btn-with-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.btn-with-icon .icon {
  font-size: 1.9rem;
}

.composition {
  position: relative;
  display: flex;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}
.composition__photo {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: all 300ms;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.composition__photo:hover {
  z-index: 1000;
  cursor: pointer;
  transform: scale(1.1);
  outline: 1rem solid var(--color-primary);
  outline-offset: 3rem;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-medium);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: var(--shadow-default);
  transition: all 300ms;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--gap-medium);
}

.card {
  perspective: 200rem;
  height: 52rem;
}
.card__side {
  transition: all 800ms;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.card__side--front {
  background-color: white;
}
.card__side--back {
  transform: rotateY(180deg);
}
.card__side--back-1 {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
}
.card__side--back-2 {
  background-image: linear-gradient(to right bottom, var(--color-primary--light), var(--color-primary--dark));
}
.card__side--back-3 {
  background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark));
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(360deg);
}
.card__picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card__picture-1 {
  background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)), url("../../img/nat-5.jpg");
}
.card__picture-2 {
  background-image: linear-gradient(to right bottom, var(--color-primary--light), var(--color-primary--dark)), url("../../img/nat-6.jpg");
}
.card__picture-3 {
  background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark)), url("../../img/nat-7.jpg");
}
.card__heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 12rem;
  right: 2.5rem;
  width: 50%;
  text-align: right;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  margin-left: -2rem;
}
.card__heading-span--1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card__heading-span--2 {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card__heading-span--3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 70%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__price-box {
  text-align: center;
  color: white;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.card__price-value {
  font-size: 6rem;
  font-weight: 300;
}

.stories-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.658);
  padding: 6rem;
  font-size: var(--font-size-default);
  transform: skewX(-12deg);
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50%);
  border-radius: 50%;
  margin-right: 3%;
  overflow: hidden;
  position: relative;
}
.story__img {
  height: 100%;
  transform: scale(1.4) translateX(-10%);
  transition: all 500ms;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  z-index: 2;
  opacity: 0;
  transition: all 500ms;
  text-align: center;
}
.story:hover .story__caption {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.story:hover img {
  transform: scale(1) translateX(-15%);
  filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form {
  width: 40%;
}
.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: #333;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  display: block;
  width: 100%;
}
.form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
.form__input:focus:valid {
  border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form__input::-webkit-input-placeholder {
  color: #999;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 300ms;
}
.form__radio-group-holder {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.form__radio-label {
  font-size: var(--font-size-default);
  cursor: pointer;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-grow: 0;
}
.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: block;
  position: relative;
}
.form__radio-button::after {
  position: absolute;
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  background-color: #55c57a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked + label .form__radio-button::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all 450ms;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  width: 75%;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: flex;
  transition: all 400ms 300ms;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup__content {
  width: 75%;
  height: auto;
  transform: translate(-50%, -50%) scale(1);
}
.popup__left {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.popup__right {
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.popup__img {
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin: 2.5rem 0;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  hyphens: auto;
}
.popup__close {
  width: 5rem;
  height: 5rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.popup__close::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2.5px;
  width: 65%;
  background-color: #333;
  transform: translate(-50%, -50%) rotate(45deg);
}
.popup__close::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 2.5px;
  width: 65%;
  background-color: #333;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.popup__close:before, .popup__close:after {
  transition: all 300ms;
}
.popup__close:hover::before, .popup__close:hover::after {
  background-color: #28b485;
}

/*# sourceMappingURL=styles.css.map */
