@keyframes moveInLeft {
  /* animation start */
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  /* animation in-between */
  80% {
    transform: translateX(10px);
  }

  /* animation end */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  /* animation start */
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  /* animation in-between */
  80% {
    transform: translateX(-10px);
  }

  /* animation end */
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
