html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 2rem;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  /* ANIMATION */
  animation-name: moveInleft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  /* ANIMATION */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  margin-bottom: 6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.gradient-text {
  background-image: linear-gradient(
    to right,
    var(--color-primary--light),
    var(--color-primary--light)
  );
  display: inline-block;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 1rem rgba(0, 0, 0, 0.199);
  }
}

.heading-tertiary {
  font-size: var(--font-size-default);
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: var(--font-size-default);

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
