.section-about {
  padding: 30rem 0;
  background-color: var(--color-grey--light-1);
  margin: -20vh 0;
}

.section-features {
  padding: 30rem 0;
  background-color: var(--color-grey--light-1);
  background-image: linear-gradient(
      to right bottom,
      rgba(40, 180, 133, 0.795),
      rgba(126, 213, 111, 0.801)
    ),
    url("../img/hero.jpg");
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
}

.section-tours {
  padding: 30rem 0 15rem;
  margin: -20vh 0 0;
}

.section-stories {
  padding: 15rem 0;
  position: relative;
  background-color: rgba(255, 255, 255, 0.438);
  // z-index: 1;
}
